.TodoList {
width: 600px;
}
.TodoList__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 5px;
}
.TodoList__text {
    margin-right: 10px;
    margin-bottom: 0;
}
.TodoList__checkbox {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

